[user]
  name = Chuck "MANCHUCK" Reeves
  email = chuck@manchuck.com

[include]
  path = ~/.gitconfig_local


[core]
  excludesFile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true
  editor = nvim
  pager = delta

[pull]
  ff = only
  rebase = true

[commit]
  gpgsign = true

[push]
  default = current
  followTags = true
  autoSetupRemote = true

[merge]
  log = true
  conflictStyle = zdiff3

[credential]
  helper = osxkeychain

[init]
  defaultBranch = main

[rebase]
  autoStash = true

[alias]
  enforce = push --force-with-lease
  hs = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=relative --date-order
  logline = log --graph --pretty=format:’%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset’ --abbrev-commit

[gpg]
  program = /usr/local/bin/gpg

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
