[user]
	name = Chuck "MANCHUCK" Reeves
	email = chuck@manchuck.com
	signingkey = 2AA9CA671CCBA2CA

[includeIf "gitdir:~/Projects/saber/"]
  path = ~/.gitconfig_saber
[includeIf "gitdir:~/Projects/zones/"]
  path = ~/.gitconfig_zones

[core]
	excludesFile = ~/.gitignore_global
[pull]
	ff = only
[commit]
	gpgsign = true
[push]
	default = current
[credential]
	helper = osxkeychain
